services:

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: api
    ports:
      - "8087:8087"
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - migrate
      - worker
    env_file:
      - .env
    networks:
      - backend
    restart: always

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    container_name: worker
    depends_on:
      - rabbitmq
      - postgres
      - migrate
    env_file:
      - .env
    networks:
      - backend
    restart: always

  postgres:
    image: postgres:15.15-trixie
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - backend
    restart: always
    

  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    restart: always
    

  migrate:
    image: migrate/migrate
    container_name: migrate
    user: root
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations:Z
    command: [
      "-path", "/migrations",
      "-database", "postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?sslmode=disable",
      "up"
    ]
    env_file:
      - .env
    restart: "no"
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    networks:
      - backend
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning:Z
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards:Z
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    networks:
      - backend
    restart: always

volumes:
  pgdata:
  redisdata:
  prometheus_data:
  grafana_data:

networks:
  backend:
    driver: bridge
