services:

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: api
    ports:
      - "8087:8087"
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - migrate
      - worker
    env_file:
      - .env
    networks:
      - backend
    restart: always

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    container_name: worker
    depends_on:
      - rabbitmq
      - postgres
      - migrate
    env_file:
      - .env
    networks:
      - backend
    restart: always

  postgres:
    image: postgres:15.15-trixie
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - backend
    restart: always
    

  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    restart: always
    

  migrate:
    image: migrate/migrate
    container_name: migrate
    user: root
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?sslmode=disable",
      "up"
    ]
    env_file:
      - .env
    restart: "no"
    networks:
      - backend

volumes:
  pgdata:
  redisdata:

networks:
  backend:
    driver: bridge
